@model ML.Usuario
@{
    ViewBag.Title = "Agregar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h2>Agregar</h2>
    @using (Html.BeginForm("Agregar", "Usuario", FormMethod.Post, new { @class = "multipar/form-data" }))
    {
        <div style="display: none">
            @Html.TextBoxFor(model => model.Opcion, new { @value = "1", })
        </div>
        <div class="row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.Nombre)
                @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.ApellidoPaterno)
                @Html.TextBoxFor(model => model.ApellidoPaterno, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.ApellidoMaterno)
                @Html.TextBoxFor(model => model.ApellidoMaterno, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.FechaNacimiento)
                @Html.TextBoxFor(model => model.FechaNacimiento, new { @class = "form-control" })
            </div>
        </div>
        <br />
        <div>
            <input class="button btn btn-success" type="submit" value="Enviar" />
        </div>
    }

</div>
